body {
    position: fixed;
    left: 30%;
    top: 20%;
    box-sizing: border-box;
    padding: 5px;
    border: solid black 2px;
}

input[type="button"] 
{ 
    background-color:#0c2835; 
    color: #fff; 
    border: solid black 2px; 
    width:100%;
    font-size:30px;
}          
  
input[type="text"] 
{ 
    background-color:white; 
    border: solid black 2px; 
    width:98%;  
    font-size:30px;
}  

input[type="button"]:hover {
    background-color: #74ff3b;
    color: #111;
}